*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';
@import 'sass/buttons';
@import 'sass/icons';
@import 'sass/menu';

body{
    width: 100%;
    padding-top: 1px;
    position: relative;
    background-color: $black-dark;    
    &::-webkit-scrollbar{
        padding-right: 2px;
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: $black-light;
    }
}

.border{
    border:1px solid red
}
.stretch{
    display: flex;
    align-items: stretch;
}
.wrap{
    flex-wrap: wrap;
}

.hidden{
    overflow: hidden;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 0;
}
.underline {
    transition: 0.3s ease;
    &:hover{
        text-decoration: underline;
    }
  }



.inline-block{
    display: inline-block;
}

svg{
    width: 100%;   
}
img{
    width: 100%;
}
.img-banner{
    width: 100%;
    max-height: 420px;
    border-radius: 4px;
    img{
        transition: .5s ease;
    }

    &:hover{
        img{
            transform: scale(1.02);
        }
    }
}